:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.multipliers {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.multiplier-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}