// Pokemon colors

$gold_foil: #B3A125;
$logo_yellow: #ffcb05;
$logo_yellow_shadow: #c7a008;
$logo_blue_light: #2a75bb;
$logo_blue_dark: #3c5aa6;
$red: #FF0000;
$red_dark: #CC0000;
$yellow_golden: #FFDE00;
