/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Pokemon Hollow';
    src: url('./assets/fonts/PokemonHollow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pokemon Solid';
    src: url('./assets/fonts/PokemonSolid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing colors theme*/
@import './assets/colors/colors';

/* Importing Prime Icons*/
@import "primeicons/primeicons.css";

.bg-red {
    background-color: $red;
}

.c-white {
    color: $white;
}

.logo-color {
    color: $logo_yellow;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 40px;
    padding: 10px 0 20px 0;
    letter-spacing: 3px;
    text-shadow: 
        -3px -3px 0 $logo_blue_light,
        3px -3px 0 $logo_blue_light,
        -3px 3px 0 $logo_blue_light,
        3px 3px 0 $logo_blue_light;
}

// Rewrite PrimeNg CSS
.p-button {
    color: $white;
    background: $red;
    border: 1px solid $red;
}