<div class="pokedex-header">
  <h1 class="pokedex-title">Pokédex</h1>

  <div class="search-area">
    <input
      [(ngModel)]="search"
      placeholder="Digite o nome do Pokémon"
      (keyup.enter)="buscar()"
      class="search"
    />

    <button class="btn-search" (click)="buscar()">Buscar</button>
  </div>
</div>

@if(store.loading()) {
  <div class="loading-overlay">
    <div class="pokeball"></div>
  </div>
}

@if (store.pokemon()) {
    <app-pokemon-card [pokemon]="store.pokemon()" />
}
