/* Container principal */
.pokedex-header {
  background: linear-gradient(135deg, #ff0000, #ffcb05, #3d7dca 50%);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

/* Título com fonte Pokémon */
@font-face {
  font-family: "PokemonFont";
  src: url("/assets/fonts/PokemonSolid.ttf") format("truetype");
}

.pokedex-title {
  font-family: "PokemonFont", sans-serif;
  font-size: 48px;
  color: #ffcb05;
  -webkit-text-stroke: 2px #2a75bb; // contorno azul
  margin: 0 0 20px 0;
}

/* Área de busca */
.search-area {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

/* Input */
.search {
  padding: 10px 12px;
  border-radius: 10px;
  border: 2px solid #2a75bb;
  font-size: 16px;
  width: 260px;
  outline: none;
}

/* Botão */
.btn-search {
  background: #ff0000;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.btn-search:hover {
  background: #cc0000;
  transform: scale(1.05);
}

/* Loading Overlay */
.pokeball {
  width: 80px;
  height: 80px;
  border: 4px solid #000;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  animation: spin 1s linear infinite;
}

.pokeball::before,
.pokeball::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
}

.pokeball::before {
  top: 0;
  background: #ff3e3e;
}

.pokeball::after {
  bottom: 0;
  background: #fff;
}

.pokeball::after {
  border-top: 4px solid #000;
}

.pokeball::before {
  border-bottom: 4px solid #000;
}

.loading-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9000;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
