<div class="pokedex-header">
  <h1 class="pokedex-title">Pokédex</h1>

  <div class="search-area">
    <div class="search-container">
      <div class="search-input-wrapper">
        <input
          id="search-input"
          name="search-input"
          [ngModel]="search()"
          (ngModelChange)="search.set($event)"
          placeholder="Type Pokémon name or ID"
          (keyup.enter)="searchbar()"
          class="search"
        />

        @if (filteredList().length > 0) {
          <ul class="autocomplete-list">
            @for (pokemon of filteredList(); track pokemon.name) {
              <li (click)="selectPokemon(pokemon.name)" class="autocomplete-item">
                {{ pokemon.name }}
              </li>
            }
          </ul>
        }
      </div>

      <button class="btn-search" (click)="searchbar()">Search</button>
    </div>
  </div>
</div>

@if(store.loading()) {
  <div class="loading-overlay">
    <div class="pokeball"></div>
  </div>
}

@if (store.pokemon()) {
    <app-pokemon-card [pokemon]="store.pokemon()" />
}
